


<div class="global-statistic">
  <div>世界中のエモ</div>
  <div class="global-emo">
    <div class="row">
      <div class="col-xs-3 column-name">喜</div>
      <div class="col-xs-3 column-name">怒</div>
      <div class="col-xs-3 column-name">悲</div>
      <div class="col-xs-3 column-name">楽</div>
    </div>
    <div class="row">
      <div class="col-xs-3 column-value"><%= Emo.statistic_emo_hash("joy") %></div>
      <div class="col-xs-3 column-value"><%= Emo.statistic_emo_hash("anger") %></div>
      <div class="col-xs-3 column-value"><%= Emo.statistic_emo_hash("sad") %></div>
      <div class="col-xs-3 column-value"><%= Emo.statistic_emo_hash("happiness") %></div>
    </div>
  </div>
</div>
