<% provide(:title, "世界中のエモ") %>
<div class="row">
  <aside class="col-xs-4">
    <%= render 'shared/home_left' %>
  </aside>
  <div class="col-xs-8">
    <%= render 'shared/timeline' %>
  </div>
</div>
