<% provide(:title, "ユーザー") %>

<div class="row">
  <aside class="col-md-4">
    <%= render 'shared/home_left' %>
  </aside>
  <div class="col-md-8">
    <%= render 'shared/users_list' %>
  </div>
</div>
